@import "components/app";
@import "colors";



:root {
    --width-mini-sidebar: 116px;
    --width-sidebar: 250px;
    --shadow-box:
        0px 1px 2px rgba(16, 24, 40, 0.04),
        0px 4px 12px rgba(16, 24, 40, 0.06),
        0px 12px 24px rgba(16, 24, 40, 0.08);

    --border-radius-input: 4px;
    --border-radius-card: 8px;
    --height-form: 56px;
    --height-form-table: 46px;
}

.overlay {
    position: fixed !important;
}

.pointer {
    cursor: pointer !important;
}

.w-full {
    width: 100% !important;
}

.container-content {
    padding: 32px;
    padding-top: 16px;
}

.one-line {
    white-space: nowrap;
}